@model Movies.Models.User
@{ ViewBag.Title = "MMDB : Sign UP"; }

<ul class="nav nav-pills">
  <li class="active">
    <a href="/">Home</a>
  </li>
</ul>

@using(var form = Html.BeginForm()){
    <fieldset>
        <legend>Sign In</legend>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-error">
                @Html.ValidationSummary()
            </div>
        }
        
        @Html.LabelFor(m => m.Name, "Username")
        @Html.TextBoxFor(m => m.Name)
        @Html.LabelFor(m => m.Password, "Password")
        @Html.PasswordFor(m => m.Password)
    </fieldset>
    <input type="submit" class="btn btn-primary" />
}
<div>
    <span>Don't have an account?</span> <a href="/Registrations/Create">Sign up</a>
</div>